.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
./Tests/Resources/direct-swap-tests.json
./Tests/Resources/transitive-swap-tests.json
